




/* heading section start */




*{
    margin: 0;
    box-sizing: border-box;
}

.header{
  
    margin: auto;
}
.header .menu-container{
    display: flex;
    background-color: #87509c;
    padding-left: 61px;
    padding-right: 61px;
    height: 100px;
    padding-top: 32px;
}

.header .menu-container .logo{
    flex-basis: 20%;
    max-width: 20%;
}
.header .menu-container .logo img{}
.header .menu-container nav{
    flex-basis: 80%;
    max-width: 80%;
}
.header .menu-container nav ul{
    justify-content: flex-end;
    display: flex;
}
.header .menu-container nav ul li{
    list-style: none;
    flex-basis: 15%;
}
.header .menu-container nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    padding: 10px;
    transition: 0.6s;
}
.header .menu-container nav ul li a:hover{
    background-color: #643a79;
    border-radius: 10px;
}




.header .container-box{
   
background-color: #87509c;
   
height: 350px;
   
position: relative;
}
.header .container-box .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
}
.header .container-box .container h1{
    font-size: 37px;
    color:white;
}
.header .container-box .container p{
    text-align: center;
    margin: 39px;
}
.header .container-box .container a{
    color:white;
    background-color: #eb7d4b;
    padding: 10px 30px;
    text-decoration: none;
    transition: 0.6s;
    box-shadow: 0px 5px 10px #e4652a;
    border-radius: 5px;
}
.header .container-box .container a:hover {
 /* background-color: #f3692b; */
 box-shadow: 0px 0px 0px #e4652a;
}







/* heading section end */


/* service section start */




.services{
    background-color: #17c2a4;
    margin: auto;}
.services .container{padding-top: 20px;}
.services .container h1{
    text-align: center;
    color: white;
    font-size: 38px;
}
hr{
    width: 100px;
    text-align: center;
    height: 5px;
    background-color: #14A58C;
    border: none;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
 }
.services .container p{
    width: 672px;
    margin: auto;
    text-align: center;
    font-size: 19px;
    color: white;
}






.services{}
.services .content-box{
    display: flex;
    width: 1200px;
    margin: auto;
    padding-bottom: 45px;
}
.services .content-box .content{
    flex-basis: 25%;
    max-width: 25%;
    text-align: center;
    padding-top: 62px;
}
.services .content-box .content img{}
.services .content-box .content h1{
    color: white;
}
.services .content-box .content p{
    color: white;
}




/* service section end */


/* meet section start */



.meet{
    margin: auto;
    background-color: #e7f1f8;
}
.meet .head{
    text-align: center;
    padding-top: 28px;
}
.meet .head h1{}
.meet .head hr{
    width: 100px;
    text-align: center;
    height: 5px;
    background-color: #c6d9e5;
    border: none;
}
.meet .head p{
    font-size: 21px;
}






.meet .content-box{
    display: flex;
    width: 1200px;
    margin: auto;
}
.meet .content-box .content:hover img{
 filter: grayscale(0%);
}
.meet .content-box .content{
    flex-basis: 25%;
    max-width: 25%;
    text-align: center;
    padding: 55px 0px;
}
.meet .content-box .content img{
    filter: grayscale(100%);
    transition: 0.6s;
}
.meet .content-box .content h1{
    text-transform: uppercase;
    font-size: 25px;
}
.meet .content-box .content .podobi{
    color: #4c4cb3;
}
.meet .content-box .content p{}



/* meet section end */
/* skill section start */

.skill{
    margin: auto;
    background-color: #fff;
}
.skill .container{
    text-align: center;
    width: 671px;
    margin: auto;
    padding-top: 25px;
}
.skill .container h1{}
.skill .container hr{
    width: 100px;
    text-align: center;
    height: 5px;
    background-color: #14A58C;
    border: none;
    margin-top: 8px;
}
.skill .container p{
    color: #4a4a4a;
}

.skill .content-box .content .lay{
    left: 40%;
    position: absolute;
    top: 53%;
    font-size: 41px;
}



.skill .content-box{display: flex;margin-bottom: 60px;width: 1200px;margin: auto;padding-bottom: 50px;}
.skill .content-box .content{
    flex-basis: 25%;
    max-width: 25%;
    text-align: center;
    padding-top: 75px;
    position: relative;
}
.skill .content-box .content img{}
.skill .content-box .content p{}







/* skill section end */

/* portfolio start */

.portfolio{
    margin: auto;
    background-color: #ffdd99;
}
.portfolio .container{
    width: 415px;
    margin: auto;
    padding-top: 27px;
    text-align: center;
}
.portfolio .container h1{}
.portfolio .container hr{
    width: 100px;
    text-align: center;
    height: 5px;
    background-color: #14A58C;
    border: none;
    margin-top: 8px;
    }
.portfolio .container p{}

.portfolio .container nav{}
.portfolio .container nav ul{
    display: flex;
    margin-top: 24px;
}
.portfolio .container nav ul li{
    flex-basis: 25%;
    max-width: 25%;
    text-align: center;
    list-style: none;
}
.portfolio .container nav ul li a{
    text-decoration: none;
    color: #6f6767;
    padding: 10px 20px;
    background-color: #ebc985;
    border-radius: 5px;
    transition: 0.6s;
}
.portfolio .container nav ul li a:hover{
    background-color: #fff;
}






.portfolio .content-box{
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
}
.portfolio .content-box .content{flex-basis: 50%;max-width: 50%;text-align: center;margin-top: 37px;}
.portfolio .content-box .content img{
    opacity: 0.8;
    transition: 0.6s;
}
.portfolio .content-box .content:hover img{
    opacity: 1;
}
.portfolio .content-box .content p{}




.portfolio .content-box .link {
    margin: auto;
    padding: 53px;
}
.portfolio .content-box .link a{
    padding: 17px 31px;
    color: white;
    background-color: #17c2a4;
    border-radius: 5px;
    transition: 0.6s;
    text-decoration: none;
    font-size: 17px;
    box-shadow: 2px 2px 11px #17c2a4;
}
.portfolio .content-box .link a:hover{box-shadow: 0px 0px 0px #17c2a4;}



/* portfolio end */

/*about start */


.about{
    margin: auto;
    background-color: #D74680;
}
.about .header{
    width: 536px;
    margin: auto;
    color: white;
    padding: 30px;
}
.about .header h1{}
.about .header hr{
    width: 100px;
    text-align: center;
    height: 5px;
    background-color: #b73c6d;
    border: none;
}
.about .header p{
    text-align: center;
}







.about .section{
    padding: 30px;
}
.about .section .container{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: auto;
}
.about .section .container .content-box{
    display: flex;
    flex-basis: 50%;
    margin-bottom: 50px;
}
.about .section .container .content-box .img{
    flex-basis: 20%;
    max-width: 20%;
}
.about .section .container .content-box .img img{}
.about .section .container .content-box .content{
    flex-basis: 80%;
    max-width: 80%;
    color: white;
}
.about .section .container .content-box .content q{}
.about .section .container .content-box .content h3{
    margin-top: 9px;
    margin-bottom: 14px;
}
.about .section .container .content-box .content p{
    color: orange;
    margin-top: -10px;
}







/* about end */


/* contact start */

.contact{
    margin: auto;
    background-color: #3C5499;
    padding-bottom: 49px;
}
.contact .container{
    padding: 50px;
    width: 500px;
    margin: auto;
    text-align: center;
}
.contact .container h1{
    color: white;
}
.contact .container hr{
      width: 100px;
      text-align: center;
      height: 5px;
      background-color: #273A71;
      border: none;
}
.contact .container p{
    color: white;
}





.contact form{
    width: 550px;
    margin: auto;
    text-align: center;
}
.contact form input.atk{
    width: 225px;
    height: 28px;
    border: none;
    background-color: #273A71;
    color: white;
    padding: 10px;
    height: 42px;
}
.contact textarea{width: 450px;margin-top: 10px;background-color: #273A71;border: none;color: white;}
.contact form input.submit{
    padding: 10px 30px;
    background-color: #30BAE7;
    border: none;
    color: white;
    margin-top: 9px;
    transition: 0.5s;
    box-shadow: 0px 5px 10px #30bae7;
    border-radius: 5px;
}

.contact form input.submit:hover{box-shadow: 0px 0px 0px #30BAE7;}



/* contact stop */

/* footer start */


.footer{
    margin: auto;
    background-color: #344B8E;
}
.footer .container{
    width: 1047px;
    margin: auto;
    padding: 15px;
}
.footer .container ul{
    display: flex;
    flex-wrap: wrap;
}
.footer .container ul li{
    flex-basis: 14%;
    text-align: center;
    list-style: none;
}
.footer .container ul li a{
    text-decoration: none;
    padding: 10px 30px;
    color: white;
    font-size: 22px;
    transition: 0.6s;
}
.footer .container ul li a:hover{
    color: #319CCE;}


/* footer end */

.width{
    width: 1231px;
    margin: auto;
    display: flex;
}